

div{
padding-top: 100px;
position: ;
}
img{
	display:flex;
	max-width: 100%;
	
	position: absolute;
}
p{
	display: flex;
    padding-top: 590px;
    padding-left: 330px;
	position:relative;

}

.container {
            max-width: 1000px; 
            margin: 0; 
            padding-top: 0px ;
        }
        .image {
            width: 100%; /* Stretch the image to fit the container width */
            height: 200px;
            display: block; /* Ensures image behaves as a block element */
        }